<div class="btn-group" role="group">
  <button class="btn btn-secondary" [disabled]="!canMoveToPreviousPage" (click)="moveToFirstPage()"><i class="fa fa-angle-double-left" style="font-weight:bold;color: black"></i></button>
  <button class="btn btn-secondary" [disabled]="!canMoveToPreviousPage" (click)="moveToPreviousPage()"><i class="fa fa-angle-left"  style="font-weight:bold;color: black"></i></button>
  <button class="btn btn-secondary" disabled style="font-weight:bold;width:100px;color: black">{{pageIndex + 1}} / {{_pageCount}}</button>
  <button class="btn btn-secondary" [disabled]="!canMoveToNextPage" (click)="moveToNextPage()"><i class="fa fa-angle-right"  style="font-weight:bold;color: black"></i></button>
  <button class="btn btn-secondary" [disabled]="!canMoveToNextPage" (click)="moveToLastPage()"><i class="fa fa-angle-double-right"  style="font-weight:bold;color: black"></i></button>
</div>