<div class="rightcontent"></div>
<div style="width:100%;" >
	<canvas  id="myChart" width="700" height="250" #mychart></canvas>
</div>
<!-- <div class="form-row">
	<div class="menu">
		  <button type="button"  id="idbutton" class="btn btn-block btn-info dropbtn" (click)="CheckButton()">Home</button>
		  <ul #ItemSubmenu class="submenu">
			  <li><a href="http://www.barbie.com">Link</a></li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
			  <li><a href="http://www.barbie.com">Link</a></li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
			  <li><a href="http://www.barbie.com">Link</a></li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
			  <li>Link</li>
		  </ul>
  </div>
  </div> -->