<div class="rightcontent">

</div>
<app-modal #modalRoot [width]="800" [zIndex]="zIndex" [backgroundcolor]="'#4267b2'" [keydownesc]="true"
  [closemodal]="false" [maximizable]="true" [maximized]="false" [south]="false" [east]="false" [southEast]="false">
  <ng-container class="app-t-header">
  </ng-container>

  <ng-container class="app-modal-body">
    <form class="emp-form" [formGroup]="addphongktx">
      <div class="form-group">
        <div class="col-md-6">
          <select #khuktx class="form-control form-control-sm margin-input" style="font-weight:bold;" [(ngModel)]="khu"
            [ngModelOptions]="{standalone: true}" (change)="onEventKhu($event.target.value)">
            <option value="khu">--Khu--</option>
            <option value="A">Khu A</option>
            <option value="B">Khu B</option>
            <option value="C">Khu C</option>
            <option value="D">Khu D</option>
            <option value="E">Khu E</option>
            <option value="F">Khu F</option>
          </select>
        </div>
        <div class="col-md-6">
          <select #tangktx class="form-control form-control-sm margin-input" style="font-weight:bold;"
            [(ngModel)]="tang" [ngModelOptions]="{standalone: true}" (change)="onEventTang($event.target.value)">
            <option value="tang">--Tầng--</option>
            <option value="1">Tầng 1</option>
            <option value="2">Tầng 2</option>
            <option value="3">Tầng 3</option>
            <option value="4">Tầng 4</option>
            <option value="5">Tầng 5</option>
            <option value="6">Tầng 6</option>
            <option value="7">Tầng 7</option>
            <option value="8">Tầng 8</option>
            <option value="9">Tầng 9</option>
            <option value="10">Tầng 10</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control form-control-sm" [attr.disabled]="true" style="width: 99.5%" formControlName="Tenphong"
          placeholder="ID Phòng">
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <input #Nguoidango class="form-control form-control-sm margin-input" formControlName="So_nguoi_o"
           >
        </div>
        <div class="col-md-6">
          <input id="tenphong" class="form-control form-control-sm margin-input" formControlName="Doituong"
            placeholder="Tên Phòng">
        </div>
      </div>
      <div class="form-group">
        <input class="form-control form-control-sm" style="width: 99.5%" formControlName="Ghichu" placeholder="Ghi chú">
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input #soluongphong class="form-control form-control-sm margin-input" formControlName="Soluongphong"
           >
        </div>
        <div class="col-md-4">
          <select class="form-control form-control-sm margin-input" [(ngModel)]="Loai"
            [ngModelOptions]="{standalone: true}" (change)="onEventLoai($event.target.value)">
            <option value="0">--Nhóm Phòng--</option>
            <option value="3">Công Nhân</option>
            <option value="2">Nhân Viên</option>
            <option value="1">Chuyên Gia</option>
          </select>
        </div>
        <div class="col-md-4">
            <select class="form-control form-control-sm margin-input" [(ngModel)]="Gioitinh"
            [ngModelOptions]="{standalone: true}" (change)="onEventGioitinh($event.target.value)">
            <option value="2">--Loại Phòng--</option>
            <option value="1">Phòng Nam</option>
            <option value="0">Phòng Nữ</option>
          </select>
          </div>
      </div>
      <div class="form-group">
          <select class="form-control form-control-sm" [(ngModel)]="trangthai"
            [ngModelOptions]="{standalone: true}" (change)="onEventTrangthai($event.target.value)">
            <option value="true">Kích hoạt</option>
            <option value="false">Khóa</option>
          </select>
        </div>
    </form>
  </ng-container>
  <ng-container class="app-modal-footer">
    <div style="text-align: right;">
      <button class="btn btn-primary btn-luu" type="button" (click)="onSubmit()">Lưu</button>
      <button type="button" class="btn btn-default btn-xoa" (click)="modalRoot.hide()">Thoát</button>
    </div>
    <input type="hidden" (click)="modalRoot.hide()" id="modalRootClose">
    <input type="hidden" (click)="modalRoot.show()" id="modalRootShow">
  </ng-container>
</app-modal>
<app-modal #Addnhanvienvaophong  [modalTitle]="'Thêm nhân viên vào phòng!'" [width]="800" [zIndex]="zIndex" [backgroundcolor]="'#4267b2'" [keydownesc]="true"
  [closemodal]="false" [maximizable]="false" [maximized]="false" [south]="false" [east]="false" [southEast]="false">
  <ng-container class="app-modal-body">
       <div style="display: flex;">
            <div style="float: left;width: 48%;display:inline-table">
              <table class="table table-sm table-fixed table-hover"  style="min-height: 380px;">
                <thead style="background-color: rgba(0, 191, 255, 0.644);">
                    <tr class="row row1">
                      <th class="col-sm-4">
                        <label for="manv" class="inp" style="height: 37px;">
                          <input type="text" id="manv" style="height: 37px;border-bottom: none" placeholder="&nbsp;" [(ngModel)]="listFilterNV">
                          <span class="label" style="top:3px">Mã ID</span>
                          <span class="border"></span>
                        </label>
                      </th>
                      <th class="col-sm-8" style="padding-top: 6px;">Nhân viên đăng ký</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="row row1" *ngFor="let item of Getallnhanviendangkyvao | slice:pageIndex*pageSize:(pageIndex+1)*pageSize;let i = index" id="Vao-{{i}}">
                      <td class="col-sm-4" style="font-weight:bold;padding: 7px;" (click)="OnSelectVao(item,i)">{{item.Manhanvien}}</td>
                      <td class="col-sm-8" style="text-align: left;padding: 7px;" (click)="OnSelectVao(item,i)">{{item.Hotenkhaisinh}}</td>
                  </tr>
                </tbody>
              </table>
              <div style="float: right;" (click)="ClearOnSelect()">
                <app-pagding-mini1 [itemCount]="count" [(pageIndex)]="pageIndex" [pageSize]="pageSize">
                </app-pagding-mini1>
              </div>
            </div>
            <div style="display:inline-table;padding-top: 137px;padding-left: 25px;">
              <button type="button" class="darkcyan" style="border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:darkcyan" (click)="Ra()"><i class="fa fa-angle-double-left"></i></button>
              <button type="button" class="brown" style=" margin-top: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:brown"(click)="Vao()"><i class="fa fa-angle-double-right"></i></button>
            </div>
            <div style="float: left;width: 48%;display:inline-table">
              <table class="table table-sm table-fixed table-hover" style="min-height: 380px;">
                <thead style="background-color: rgba(255, 255, 0, 0.603);">
                    <tr class="row row1">
                      <th class="col-sm-4">
                        <label for="manv1" class="inp" style="height: 37px;">
                          <input type="text" id="manv1" style="height: 37px;border-bottom: none" placeholder="&nbsp;" [(ngModel)]="listFilterNV1">
                          <span class="label" style="top:3px">Mã ID</span>
                          <span class="border"></span>
                        </label>
                      </th>
                      <th class="col-sm-8"  style="padding-top: 6px;">Nhân viên phòng {{selectPhongktx.Tenphong}}</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr class="row row1" *ngFor="let item of Getallnhanvienbyphong;let i = index" id="Ra-{{i}}">
                      <td class="col-sm-4" style="font-weight:bold;padding: 7px;"(click)="OnSelectRa(item,i)">{{item.Manhanvien}}</td>
                      <td class="col-sm-8" style="text-align: left;padding: 7px;" (click)="OnSelectRa(item,i)">{{item.Hoten}}</td>
                  </tr>
                </tbody>
              </table>
              <div style="float: right;">
                <a class="pagding-a1"  style="width:50px;color:lightslategrey ;">Còn trống: {{selectPhongktx.Controng}}/{{selectPhongktx.So_nguoi_o}}</a>
              </div>
            </div>
       </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <div style="text-align: right;">
      <button class="btn btn-primary btn-luu" type="button" (click)="Duyet()">Lưu</button>
      <button type="button" class="btn btn-default btn-xoa" (click)="CloseAddnhanvienvaophong(selectPhongktx)">Thoát</button>
    </div>
    <input type="hidden" (click)="Addnhanvienvaophong.hide()" id="AddnhanvienvaophongClose">
    <input type="hidden" (click)="Addnhanvienvaophong.show()" id="AddnhanvienvaophongShow">
  </ng-container>
</app-modal>
<app-modal #Xacnhanduyet [modalTitle]="'Xác nhận duyệt'" [width]="400" [zIndex]="zIndex" [backgroundcolor]="'#4267b2'"
  [keydownesc]="true" [closemodal]="false" [maximizable]="false" [maximized]="false" [south]="false" [east]="false"
  [southEast]="false">
  <ng-container class="app-modal-body">
    <div class="form-row">
      <div class="form-group col-md-12">Nội dung: </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12"><input type="text" class="form-control form-control-sm" #ghichuDuyet /></div>
    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <div class="form-row">
      <div class="form-group col-md-12">
        <div style="text-align: right;">
          <button type="button" class="btn btn-primary btn-luu" style="width: 25%;" (click)="XNduyet(ghichuDuyet.value)">Xác
            Nhận</button>
          <button type="button" class="btn btn-default btn-xoa" style="width: 25%;"
            (click)="Xacnhanduyet.hide()">Thoát</button>
        </div>
      </div>
    </div>
    <input type="hidden" (click)="Xacnhanduyet.hide()" id="XacnhanduyetClose">
    <input type="hidden" (click)="Xacnhanduyet.show()" id="XacnhanduyetShow">
  </ng-container>
</app-modal>
<app-modal #modalDelete [modalTitle]="'Bạn có muốn xóa không !'" [width]="500" [zIndex]="zIndex"[backgroundcolor]="'#4267b2'" [keydownesc]="true" [closemodal]="false" [maximizable]="false" [maximized]="false" [south]="false" [east]="false" [southEast]="false">
  <ng-container class="app-t-header">
  </ng-container>
  <ng-container class="app-modal-body">
    <div class="form-row">
      <div class="form-group col-md-6">ID Phòng: {{selectPhongktx.Tenphong}}</div>
      <div class="form-group col-md-6">Phòng: {{selectPhongktx.Doituong}}</div>
    </div>
  </ng-container>

  <ng-container class="app-modal-footer">
    <button type="button" (click)="onDelete(selectPhongktx)" style="width: 75px;" class="btn btn-info btn-sm">
      <i class="far fa-save tu"></i>
      Xóa</button>
    <button type="button" class="btn btn-info btn-sm" style="float: right;" (click)="modalDelete.hide()">
      <i class="far fa-times-circle"></i>
      Thoát</button>
      <input type="hidden" (click)="modalDelete.hide()" id="modalDeleteClose">
      <input type="hidden" (click)="modalDelete.show()" id="modalDeleteShow">
  </ng-container>
</app-modal>
<div class="content-header" (mouseenter)="onMouseEnterClose()">
  <div class="col-md-12">
    <ul class="ulbutton" (click)="addPhongKTX()">
      <a class="abutton" title="làm mới" role="button">
        <i class="fas fa-plus"></i>
      </a>
    </ul>
    <ul class="ulbutton" (click)="lammoi()">
      <a class="abutton" title="làm mới" role="button1">
        <i class="fas fa-retweet"></i>
      </a>
    </ul>
    <select class="selectKTX"
      style="margin-left:10px;background-color: #dbdbdb80;height:30px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:darkcyan"
      (change)="onSelectKhu($event.target.value)">
      <option *ngFor="let item of Getallkhu" value="{{item.Khu}}">Khu {{item.Khu}}</option>
    </select>
    <button type="button" class="darkcyan" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:darkcyan;">Tổng số phòng ({{Tongsophong}})</button>
    <!-- <button type="button" class="blueviolet" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:blueviolet">NV Trả phòng (1)</button> -->
    <button type="button" class="brown" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:brown">Phòng ở ({{Phong_o}})</button>
    <button type="button" class="darkgreen" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:darkgreen">Tổng số chỗ ({{Tongsocho}})</button>
    <button type="button" class="blue" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:blue">Còn trống ({{Controng}})</button>
    <!-- <button type="button" class="coral" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:coral">Phòng còn trống (1)</button>
    <button type="button" class="crimson" style=" margin-left: 20px;border-radius:5px;border:0.09rem solid rgb(221, 213, 213);color:crimson">Phòng đang ở(1)</button> -->
  </div>
</div>
<div class="content-center" (mouseenter)="onMouseEnterClose()">
  <div class="content-left" style="float: left;width:8%;height:86vh">
    <table class="table table-sm table-hover setcolor" (mouseenter)="onMouseEnterClose()">
      <thead style="background-color: #dbdbdb80;height: 55px;">
        <tr class="row">
          <div class="col-sm" style="height: 55px;padding: 0;">
            <label for="magroup" class="inp">
              <input type="text" id="magroup" placeholder="&nbsp;" [(ngModel)]="listFilter">
              <span class="label">Tầng</span>
              <span class="border"></span>
            </label>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Getalltang ;let i = index" class="row" style="padding: 10px;font-weight:bold" (click)="onTang(item,i)" [ngStyle]="{'background-color': getColor(i)}">
          <div class="col-sm" style="text-align: center;cursor: pointer;" (click)="onTang(item,i)">
            Tầng {{item.Tang}}
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-sm table-hover table-bordered test" style="float: right;width:91.8%;" (mouseenter)="onMouseEnterClose()">
    <thead>
      <div class="row" style="background-color:#dbdbdb80;">
        <div style="height: 55px;padding-top: 15px;font-weight:bold;">
          <p style="display: inline-table;">Danh Sách Phòng</p>
          <p style="display: inline-table;margin-left: 10px;color: darkcyan;">số phòng ({{Tongsophong1}})</p>
          <p style="display: inline-table;margin-left: 10px;color: brown;">phòng ở ({{Phong_o1}})</p>
          <p style="display: inline-table;margin-left: 10px;color: darkgreen;">số chỗ ({{Tongsocho1}})</p>
          <p style="display: inline-table;margin-left: 10px;color: blue;">trống ({{Controng1}})</p>
        </div>
      </div>
    </thead>
    <tbody (mouseenter)="onMouseEnterClose()">
      <div class="mblock" *ngFor="let item of Getallphong ;let i = index;">
        <div class="cblock"(mouseenter)="onMouseEnter(item)" (click)="Opennhanvienvaophong(item)">
          <img width="60" height="60" src="assets/door.png">
        </div>
        <div class="phong-ktx" (mouseenter)="onMouseEnter(item)" >
          <div class="chi-tiet-phong" (click)="Opennhanvienvaophong(item)" [ngStyle]="{'background-color': item.Trangthai==false?'cadetblue' : 'indianred' }">
            {{item.Tenphong}}
          </div>
          <div class="doi-tuong" (click)="Opennhanvienvaophong(item)" title="{{item.Doituong}}">
            Phòng: {{item.Doituong | slice:0:15}}
          </div>
          <div class="tinh-trang">
            <div class="con-trong" (click)="Opennhanvienvaophong(item)">
                Còn trống: {{item.Controng}}/{{item.So_nguoi_o}}
            </div>
            <div class="chuc-nang" *ngIf="item.edittable">
                <a class="btn" (click)="openEdit(item,i)">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <a class="btn text-danger" style="margin-left: 5px;" (click)="openDelete(item)">
                    <i class="far fa-trash-alt"></i>
                  </a>
              </div>
          </div>
         
        </div>
      </div>
    </tbody>
  </table>
</div>
<app-toaster-container ></app-toaster-container>
<!-- <div class="fixed-bottom">
  <div style="float: left;">
      <app-custom-pagding [itemCount]="countds" [(pageIndex)]="pageIndexds" [pageSize]="pageSizeds"></app-custom-pagding>
      <button class="btn btn-secondary" disabled>Tổng: {{countds}}</button>
  </div>
 <div style="float: right;">
    <app-pagding [itemCount]="count" [(pageIndex)]="pageIndex" [pageSize]="pageSize"></app-pagding>
    <button class="btn btn-secondary" disabled>Tổng: {{count}}</button>
 </div>
</div> -->