.rightcontent{
    text-align:center;
    background-color: #2e5075;
    color: #f7f7f8;
    font-family:Arial, Helvetica, sans-serif;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border:2px solid rgb(196, 192, 192);
    margin-bottom: 5px;
   }
   .abutton:hover{
    background-color:rgb(196, 192, 192);
  }
  .abutton{
    color: #666;border:0.09rem solid rgb(221, 213, 213);border-radius: 3px;padding: 4px 12px 5px;
  }
  .ulbutton{
    padding: 10px;
    margin:0;
    display: inline-block;
    cursor: pointer;
  }
   .columnleft{
    display: inline-table;
   width: 25%;
   margin-top: 15px;
   text-align: center;
   }
   .columnlefttable{
    display: inline-table;
   width: 25%;
   text-align: center;
   }
   .columnleft1{
   display: inline-table;
   width: 15%;
   margin-top: 15px;
   text-align: center;
   }
   .columnlefttable1{
    display: inline-table;
    width: 15%;
    text-align: center;
    }
   .columnright{
    display: inline-table;
    width: 50%;
    text-align: center;
    }
    .columnright1{
      display: inline-table;
      width: 33%;
      text-align: center;
      }
      .columnrighttable1{
        margin-top: 7px;
        display: inline-table;
        width: 33%;
        text-align: center;
        }
   .STT{
    width: 4%;
    text-align:center;
    padding-top: 15px;
    font-weight:bold;
   }
   .STT1{
    width: 4%;
    text-align:center;
    font-weight:bold;
    padding-top: 7px;
   }
   .Thongtin{
    border:0.5px solid rgb(196, 192, 192); 
    text-align: center;
    width: 100%;
   
   }
   .content-header{
    background-color: #dbdbdb80;
    border: 0.09rem solid rgb(221, 213, 213);
    height: 48px;
    margin-bottom: 5px;
   }
   .row{
  margin-left: 0px;
  margin-right: 0px;
  border-bottom:0.5px solid rgb(196, 192, 192);
   }
   .content{
       width: 56%;
       font-weight:bold;
       font-family: Arial, Helvetica, sans-serif;
   }
   .content1{
    width: 40%;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.contenttable{
  width: 56%;
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
}
.contenttable1{
width: 40%;
font-family: Arial, Helvetica, sans-serif;
}
    .xacnhan{
    float: left;
    text-align: center;
    width: 50%;
    }
    .xacnhanleft{
      display: inline-table;
      text-align: left;
      width: 20%;
      }
      .xacnhanleft1{
     float: right;
      text-align: center;
      width:35%;
        }
    .cleft{
      display: inline-block;
      height: 51px;
      width: 50%;
      text-align: center;
      padding-top: 15px;
    }
    .cleftkt{
      display: inline-block;
      height: 51px;
      width: 50%;
      text-align: center;
    }
    .clefttable{
      display: inline-block;
      width: 50%;
      text-align: center;
    }
    .xn{
      float: right;
      text-align: center;
      width: 50%;
    }
    .xntable{
      float: right;
      width: 50%;
      padding-top: 4px;
    }
    .kq{
      padding: 2px 0;
    }
    .columnleftrow{
      display:inline-block;
      width: 25%;
      text-align: center;
      padding: 5px;
    }
    [type="date"] {
      background:#fff url(src/assets/calendar-icon.png) 97% 50% no-repeat;
    }
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    .fa-plus,.fa-retweet,.fa-file-export,.fa-bullhorn,.fa-pencil-square-o,.fa-save,.fa-file-signature,.fa-flag,.fa-check-square,.fa-square{
      color: #2e5075;
    }
    /* css text box input */
    .inp {
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 280px;
    }
    .inp .label {
      position: absolute;
      top: 16px;
      left: 0;
      font-size: 16px;
      color: #9098a9;
      font-weight: 500;
      transform-origin: 0 0;
      transition: all 0.2s ease;
    }
    
    .inp .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #07f;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
    }
    .inp input {
      -webkit-appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 12px 0;
      height: 48px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid #c8ccd4;
      background: none;
      border-radius: 0;
      color: #223254;
      transition: all 0.15s ease;
    }
    .inp input:hover {
      background: rgba(34,50,84,0.03);
    }
    .inp input:not(:placeholder-shown) + span {
      color: #5a667f;
      transform: translateY(-17px) scale(0.75);
    }
    .inp input:focus {
      background: none;
      outline: none;
    }
    .inp input:focus + span {
      color: #07f;
      transform: translateY(-17px) scale(0.75);
    }
    .inp input:focus + span + .border {
      transform: scaleX(1);
    }
    .col-md-6{
      padding:0;
      display: inline-block;
    }
    [type="date"] {
      background:#fff url(src/assets/calendar-icon.png) 97% 50% no-repeat;
    }
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    #dateofbirth {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
      width: 190px;
    }
    .remove{
      margin-left: 20px;
    }
    .fixed-bottom{
      padding-left:4%;
    }
    .dropgroup{
      margin-left: 10px;
      height: 33px;
      border-radius: 5px;
    }
    .dropgroup::after{
      margin-left: 10px;
      border-radius: 5px;
    }
    .tablemodal{
      display: inline-block;
      width: 50%;
    }
    .tableMahang{
       position: relative;
    }
    .tu{
      color: #fff;
    }
    .content-center{
      width: 100%;
      display: inline-block; 
      height: 83vh;
    }
    .content-left-header{
      font-weight:bold;
       width: 70%;
       height:56px;
       background-color:#dbdbdb80; 
       border-bottom:1px solid #adabab8a;
       text-align: center;
       padding:0;
       font-family: Arial, Helvetica, sans-serif;
       display: inline-block;
    }
    .ulbutton-left{
      padding: 0;
      cursor: pointer;
    }
    .abutton-left:hover{
      background-color:rgb(196, 192, 192);
    }
    .abutton-left{
      color: #666;
      border:0.09rem solid rgb(221, 213, 213);
      border-radius: 3px;
      padding: 4px 12px 5px;
    }
    .table thead th{
      vertical-align: bottom;
      height: 56px;
      padding: 0;
    }
    .progress {
      margin-top: 5px;
      padding:0;
      width:100%;
      height:17px;
      overflow:hidden;
      background:#e5e5e5;
      border-radius:6px;
    }
    
    .bar {
      position:relative;
      float:left;
      min-width:1%;
      height:100%;
      background:cornflowerblue;
    }
    
    .percent {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      margin:0;
      font-family:tahoma,arial,helvetica;
      font-size:12px;
      color:white;
    }
    .fullname{
      float: right;
      text-align: center;
      color:#2e5075;
      cursor: pointer;
      text-decoration: underline;
      margin-top: -35px;
      font-weight:bold;
    }
    @media only screen and (max-width: 768px){
    
    }
  