<nav class="main-menu">
  <!-- <div class="home1">
      <div class="home" (click)="LogOut()">
        <img width="25" height="25" src="assets/new-message-icon.png" >
      </div>
      <span class="nav-text" (click)="LogOut()">
        Message Box
      </span>
  </div> -->
  <ul >
      <li class="has-subnav" >
          <a >
              <i class="fa fa-list fa-2x"></i>
              <span class="nav-text">
                Nguyễn văn A
              </span>
          </a>
      </li>
      <!-- <ul class="logout">
          <li>
              <a (click)="LogOut()">
                  <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>
      </ul> -->
  </ul>
</nav>