<div class="rightcontent">
 
</div>

<div class="content-header">
  <div class="col-md-10">
    <td style="width:80px;">Từ Ngày :</td>
    <td><input type="date" name="dateofbirth" id="dateofbirth" #fromdate></td>
    <td style="width:80px;">Đến Ngày :</td>
    <td><input type="date" name="dateofbirth" id="dateofbirth" #todate></td>
    <td>
      <select style="background-color:#dbdbdb80;height:33px;border-radius:5px" (change)="onSeach($event.target.value)">
      <option value="null">--Trạng Thái--</option>
      <option value="1">Đã hoàn thành</option>
      <option value="0">Chưa hoàn thành</option>
     </select>
  </td>
    <td><button type="button" class="btn btn-outline-primary" style="margin-left: 10px;"
        (click)="GetThongKeBydate(fromdate.value,todate.value)">Tìm</button></td>
    <td><button type="button" class="btn btn-outline-info" style="margin-left: 10px;" (click)="refresh()">Làm
        Mới</button></td>
    <td><button type="button" class="btn btn-outline-warning" style="margin-left: 10px;" (click)="exportAsXLSX()">Xuất
        tệp</button></td>
  </div>
  <div class="col-md-2">

  </div>
</div>
<div class="content-center" (mouseenter)="onMouseEnterClose()">
    <div style="display: inline-table; width:15%;margin-right:2px;"(mouseenter)="onMouseEnterClose()">
        <table class="table table-sm table-fixed table-hover">
          <thead style="background-color: #dbdbdb80">
            <tr class="row">
                <th class="col-sm-7">
                  <label for="danhsachflux" class="inp">
                    <input type="text" id="danhsachflux" placeholder="&nbsp;" [(ngModel)]="listFilterYeuCau" >
                    <span class="label">Mã Yêu Cầu</span>
                    <span class="border"></span>
                  </label>
                </th>
                <th class="col-sm-5" style="padding-top:15px">Hoàn thành</th>
              </tr>
        </thead>
          <tbody>
            <tr *ngFor="let item of FgetGroup | slice:pageIndexds*pageSizeds:(pageIndexds+1)*pageSizeds ;let i = index" [ngStyle]="{'background-color' : getColor(i)}">
              <div class="row" id="{{i}}">
                  <div class="col-sm-7" style="height: 39px;padding: 10px;" (click)="SelectGroupID(item,i)">
                      {{item.Groupid | slice:0:6}}-{{item.Groupid | slice:6:12}}
                      <i *ngIf="item.Daky" class="fas fa-flag" style="margin-left: 5px;"></i>
                    </div>
                    <div class="col-sm-5" style="padding-top: 8px" (click)="SelectGroupID(item,i)">
                        <div class="progress">
                            <div class="bar" [ngStyle]="{'width': item.Hoanthanh}">
                              <p class="percent">{{item.Tongnhomky}}</p>
                            </div>
                          </div>
                    </div>
              </div>
            </tr>
          </tbody>
          </table>
    </div>
    <div style="display: inline-table;width:84.8%;float:right;">
  <table class="table table-sm table-hover table-bordered test">
    <thead>
      <div class="row" style="background-color:#dbdbdb80;">
        <div class="STT">STT</div>
        <div class="content1">
          <div class="Thongtin"> Thông tin của bộ phận chế tạo </div>
          <div>
            <div class="columnleft">
              <label for="mahang" class="inp">
                <input type="text" id="mahang" placeholder="&nbsp;" [(ngModel)]="listFilterMahang">
                <span class="label">Mã hàng</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="columnleft">
              <label for="malot" class="inp">
                <input type="text" id="malot" placeholder="&nbsp;" [(ngModel)]="listFilterMalot">
                <span class="label">Mã Lot</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="columnleft">Độ dày lỗ mạ</div>
            <div class="columnleft">Số lượng</div>
          </div>
        </div>
        <div class="content2">
          <div class="Thongtin">Thông tin của QA/PQ</div>
          <div class="xacnhan">
            <div class="kq">Kết quả xác nhận mặt cắt</div>
            <div class="columnright">Độ dày trước</div>
            <div class="columnright">Độ dày sau</div>
            <div class="columnright">Tệp đính kèm</div>
          </div>
          <div class="xn">
            <div class="cleft">
              <label for="xnql" class="inp">
                <input type="text" id="xnql" placeholder="&nbsp;" [(ngModel)]="listFilterXNQL">
                <span class="label">Xác Nhận QL</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="cleft">
              <label for="xnpq" class="inp">
                <input type="text" id="xnpq" placeholder="&nbsp;" [(ngModel)]="listFilterXNPQ">
                <span class="label">Xác Nhận PQ</span>
                <span class="border"></span>
              </label>
            </div>
            <div class="cleft">Xác nhận T.Phòng</div>
          </div>
        </div>
      </div>
    </thead>
    <tbody>
      <tr *ngFor="let item of Fgetthongke | slice:pageIndex*pageSize:(pageIndex+1)*pageSize;let i = index;">
        <div class="row" (mouseenter)="onMouseEnterClose()">
          <div class="STTrow">{{i+1}}</div>
          <div class="contentrow1">
            <div class="Thongtinrow"></div>
            <div>
              <div class="columnleftrow1" style="text-align:left;" (mouseenter)="onMouseEnter(item)">
                <span>{{item.Mahang}}</span>
              </div>
              <div class="columnleftrow1" style="text-align:left;">
                <span>{{item.Malot}}</span>
              </div>
              <div class="columnleftrow1">
                <span>{{item.Doday}}</span>
              </div>
              <div class="columnleftrow1">
                <span>{{item.Soluong}}</span>
              </div>
            </div>
          </div>
          <div class="contentrow2">
            <div class="Thongtinrow"></div>
            <div>
              <div class="columnleftrow2">{{item.Dodaytruoc}}</div>
              <div class="columnleftrow2">{{item.Dodaysau}}</div>
              <div class="columnleftrow2">
                <a  *ngIf="item.Tentep?.length > 1" (click)="DownloadFile(item.Tentep)" title="{{item.Tentep}}" style="cursor:pointer">
                  <img width="20" height="20" src="assets/Download-icon.png">
                </a>
              </div>
              <div class="columnrightrow">
                <span *ngIf="item.Xacnhanql==='OK'">{{item.Xacnhanql}}</span>
                <span *ngIf="item.Xacnhanql==='NG'" style="background-color: yellow">{{item.Xacnhanql}}</span>
              </div>
              <div class="columnrightrow">{{item.Xacnhanpq}}</div>
              <div class="columnrightrow">{{item.Xacnhanpq1}}</div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="fixed-bottom">
    <div style="float: left;">
        <app-custom-pagding [itemCount]="countds" [(pageIndex)]="pageIndexds" [pageSize]="pageSizeds"></app-custom-pagding>
        <button class="btn btn-secondary" style="height: 38px" disabled>Tổng: {{countds}}</button>
    </div>
  <div style="float: right;">
    <app-pagding [itemCount]="count" [(pageIndex)]="pageIndex" [pageSize]="pageSize"></app-pagding>
    <button class="btn btn-secondary" disabled>Tổng: {{count}}</button>
  </div>
</div>
<app-dialog-detail [(visible)]="!showDialog">
  <div style="text-align:center;font-weight:bold">Thông tin chi tiết</div>
  <div class="form" *ngIf="viewthongke">
    <tr>
      <td style="width: 50%;">Thời gian tạo:</td>
      <td style="color: blue;width: 50%;">{{viewthongke.Thoigiantao}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Thời gian hoàn thành:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Thoigianhoanthanh}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã hàng:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Mahang}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã Lot:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Malot}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Độ dày:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Doday}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Số lượng:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Soluong}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Độ dày trước:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Dodaytruoc}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Độ dày sau:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Dodaysau}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Xác nhận QL:</td>
      <td style="width: 50%;color: blue">
        <span *ngIf="viewthongke.Xacnhanql==='OK'">{{viewthongke.Xacnhanql}}</span>
        <span *ngIf="viewthongke.Xacnhanql==='NG'" style="background-color: yellow">{{viewthongke.Xacnhanql}}</span>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;">Xác nhận PQ:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Xacnhanpq}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Ghi chú:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Ghichu}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Trạng thái:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Trangthai}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã yêu cầu:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Groupid | slice:0:6}}-{{viewthongke.Groupid | slice:6:12}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Nhóm ký:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Nhomky}}</td>
    </tr>
  </div>
</app-dialog-detail>