<div class="rightcontent">
  <h2>Tìm kiếm danh sách thống kê lỗi</h2>
</div>

<div class="content-header">
  <div class="col-md-10">
    <td style="width:80px;">Từ Ngày :</td>
    <td><input type="date" name="dateofbirth" id="dateofbirth" #fromdate></td>
    <td style="width:80px;">Đến Ngày :</td>
    <td><input type="date" name="dateofbirth" id="dateofbirth" #todate></td>
    <td>
      <select style="background-color:#dbdbdb80;height:33px;border-radius:5px" (change)="onSeach($event.target.value)">
      <option value="null">--Trạng Thái--</option>
      <option value="1">Đã hoàn thành</option>
      <option value="0">Chưa hoàn thành</option>
     </select>
  </td>
    <td><button type="button" class="btn btn-outline-primary" style="margin-left: 10px;"
        (click)="GetThongKeMa5Bydate(fromdate.value,todate.value)">Tìm</button></td>
    <td><button type="button" class="btn btn-outline-info" style="margin-left: 10px;" (click)="refresh()">Làm
        Mới</button></td>
    <td><button type="button" class="btn btn-outline-warning" style="margin-left: 10px;" (click)="exportAsXLSX()">Xuất
        tệp</button></td>
  </div>
  <div class="col-md-2">

  </div>
</div>
<div class="content-center" (mouseenter)="onMouseEnterClose()">
  <div class="content-left" style="float: left;width:15%;height:88vh;" (mouseenter)="onMouseEnterClose()">
    <table class="table table-sm table-hover">
      <thead style="background-color: #dbdbdb80">
        <tr class="row">
          <th class="col-sm-7">
              <label for="magroup" class="inp">
                <input type="text" id="magroup" placeholder="&nbsp;" [(ngModel)]="listFilterYeuCau">
                <span class="label">Mã yêu cầu</span>
                <span class="border"></span>
              </label>
            </th>
            <th class="col-sm-5" style="padding-top: 15px">Hoàn thành</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of FgetGroup | slice:pageIndexds*pageSizeds:(pageIndexds+1)*pageSizeds ;let i = index" [ngStyle]="{'font-weight' : getColor(i)}">
          <div class="row" id="{{i}}">
              <div class="col-sm-7" style="height: 39px;padding: 10px;" (click)="SelectGroupID(item,i)">
                  {{item.Groupid | slice:0:6}}-{{item.Groupid | slice:6:12}}
                  <i *ngIf="item.Daky" class="fas fa-flag" style="margin-left: 5px;"></i>
                </div>
                <div class="col-sm-5" style="padding-top: 8px" (click)="SelectGroupID(item,i)">
                    <div class="progress">
                        <div class="bar" [ngStyle]="{'width': item.Hoanthanh}">
                          <p class="percent">{{item.Tongnhomky}}</p>
                        </div>
                      </div>
                </div>
          </div>
        </tr>
      </tbody>
    </table>
    </div>
    <table class="table table-sm table-hover table-bordered test" style="float: right;width:84.8%;">
      <thead>
        <div class="row" style="background-color:#dbdbdb80;">
          <div class="STT">STT</div>
          <div class="content">
            <div style=" display:inline-block;width:60%;">
                <div class="columnleft">
                    Ca làm việc
                </div>
                <div class="columnleft1">
                      Bàn số
                  </div>
                  <div class="columnleft">
                      Máy kiểm tra
                    </div>
                    <div class="xacnhanleft1">
                        <div class="kq">Thời gian</div>
                        <div class="columnright">Bắt đầu</div>
                        <div class="columnright">Kết thúc</div>
                   </div>
            </div>
                 <div class="xacnhanleft">
                    <label for="mahang" class="inp">
                      <input type="text" id="mahang" placeholder="&nbsp;" [(ngModel)]="listFilterMahang">
                      <span class="label">Mã hàng</span>
                      <span class="border"></span>
                    </label>
                  </div>
                  <div class="xacnhanleft">
                    <label for="malot" class="inp">
                      <input type="text" id="malot" placeholder="&nbsp;" [(ngModel)]="listFilterMalot">
                      <span class="label">Mã Lot</span>
                      <span class="border"></span>
                    </label>
                  </div>
          </div>
          <div class="content1">
            <div class="xacnhan">
              <div class="kq">Kết quả sau khi VRS</div>
              <div class="columnright1">VERIFY</div>
              <div class="columnright1">OK</div>
              <div class="columnright1">NG</div>
            </div>
            <div class="xn">
              <div class="cleft">Ghi chú</div>
              <div class="cleft">Chức Năng</div>
            </div>
          </div>
        </div>
      </thead>
      <tbody>
        <tr *ngFor="let item of Fgetthongkeloi | slice:pageIndex*pageSize:(pageIndex+1)*pageSize;let i = index;">
          <div class="row" (mouseenter)="onMouseEnterClose()">
              <div class="STT1">{{i+1}}</div>
              <div class="contenttable">
                <div style=" display:inline-block;width:60%;">
                    <div class="columnlefttable">
                        <span>{{item.Ca}}</span>
                    </div>
                    <div class="columnlefttable1">
                        <span>{{item.Banso}}</span>
                      </div>
                      <div class="columnlefttable">
                          <span >{{item.Maykiemtra}}</span>
                        </div>
                        <div class="xacnhanleft1">
                            <div class="columnright">
                                <span >{{item.Thoigianbatdau}}</span>
                            </div>
                            <div class="columnright">
                                <span >{{item.Thoigianketthuc}}</span>
                            </div>
                       </div>
                </div>
                     <div class="xacnhanleft" (mouseenter)="onMouseEnter(item)">
                        <span>{{item.Mahang}}</span>
                      </div>
                      <div class="xacnhanleft">
                          <span >{{item.Malot}}</span>
                      </div>
              </div>
              <div class="contenttable1">
                <div class="xacnhan">
                  <div class="columnrighttable1">
                      <span >{{item.Loiphathien}}</span>
                  </div>
                  <div class="columnrighttable1">
                      <span >{{item.OK}}</span>
                  </div>
                  <div class="columnrighttable1">
                      <span >{{item.NG}}</span>
                  </div>
                </div>
                <div class="xntable">
                  <div class="clefttable">
                      <span >{{item.Ghichu}}</span>
                  </div>
                  <div class="clefttable">
                     
                  </div>
                </div>
              </div>
          </div>
        </tr>
      </tbody>
    </table>
</div>
<div class="fixed-bottom">
  <div style="float: left;">
      <app-custom-pagding [itemCount]="countds" [(pageIndex)]="pageIndexds" [pageSize]="pageSizeds"></app-custom-pagding>
      <button class="btn btn-secondary" disabled>Tổng: {{countds}}</button>
  </div>
 <div style="float: right;">
    <app-pagding [itemCount]="count" [(pageIndex)]="pageIndex" [pageSize]="pageSize"></app-pagding>
    <button class="btn btn-secondary" disabled>Tổng: {{count}}</button>
 </div>
</div>
<app-dialog-thongkeloi [(visible)]="!showDialog">
  <div style="text-align:center;font-weight:bold">Thông tin chi tiết</div>
  <div class="form" *ngIf="viewthongke">
      <tr>
          <td style="width: 50%;">Ca:</td>
          <td style="color: blue;width: 50%;">{{viewthongke.Ca}}</td>
        </tr>
    <tr>
      <td style="width: 50%;">Thời gian tạo:</td>
      <td style="color: blue;width: 50%;">{{viewthongke.Thoigiantao}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Thời gian hoàn thành:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Thoigianhoanthanh}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã hàng:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Mahang}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã Lot:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Malot}}</td>
    </tr>
    <tr>
        <td style="width: 50%;">Máy kiểm tra:</td>
        <td style="width: 50%;color: blue">{{viewthongke.Maykiemtra}}</td>
      </tr>
    <tr>
      <td style="width: 50%;">Thời gian bắt đầu:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Thoigianbatdau}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Thời gian kết thúc:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Thoigianketthuc}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Bàn số:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Banso}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Lỗi phát hiện:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Loiphathien}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">OK:</td>
      <td style="width: 50%;color: blue">{{viewthongke.OK}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">NG:</td>
      <td style="width: 50%;color: blue">{{viewthongke.NG}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Ghi chú:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Ghichu}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Trạng thái:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Trangthai}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Mã yêu cầu:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Groupid | slice:0:6}}-{{viewthongke.Groupid | slice:6:12}}</td>
    </tr>
    <tr>
      <td style="width: 50%;">Nhóm ký:</td>
      <td style="width: 50%;color: blue">{{viewthongke.Nhomky}}</td>
    </tr>
  </div>
</app-dialog-thongkeloi>

