<div class="main-nav" *ngIf="!main">
    <div class="left">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div><img width="180" height="40" src="assets/meiko.png"></div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a >Flux</a>
                <a >QL</a>
                <a >PQ</a>
                <a >Nhóm Ký</a>
                <a >Thông Tin Ký</a>
            </div>
        </nav>
    </div>
    <div>
        <app-sidebar [Phanquyen]="getall" (LogOutClicked)="LogOut()"></app-sidebar>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="content-wrapper" *ngIf="main">
    <div class="navbar-top">
        <div class="rightcontent">
            <div class="row">
                <div class="col-md-6">
                    <ul class="ul-left">
                        <li class="li-left" >
                            <a (click)="CallMainClose()"><img width="120" height="25" src="assets/meiko.png"></a>
                        </li>
                        <li >
                            <a (click)="CallMainClose()">Meiko App</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 right-user">
                        <div class="ShowUser">
                               {{NameLogIn}}
                        </div>
                    <ul class="ul-right" (click)="opendropdown()">
                        <li class="li-right">
                            <a class="a-right"><img width="30" height="30" src="assets/user-icon.png"></a>
                        </li>
                    </ul>
           
                    <div class="divdropdown">
                        <div *ngIf="showLogIn">
                                <a class="a-dropdown" (click)="showDialog = !showDialog;showLogIn=false">
                                        <img width="20" height="20" src="assets/Login-icon.png">
                                    Đăng Nhập</a>
                        </div>
                      <div *ngIf="showLogOut">
                            <a class="a-dropdown" (click)="OpenChangePassword();showLogOut=false">
                                    <img width="20" height="20" src="assets/secrecy-icon.png" >
                                Đổi Mật Khẩu</a>
                            <a class="a-dropdown" (click)="CallMainCloseLogOut();showLogOut=false">
                                    <img width="20" height="20" src="assets/logout-icon.png">
                                Đăng Xuất</a>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" (click)="closedropdown()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4" *ngFor="let item of MenuCha">
                        <div class="mblock" (click)="CallMainOpen(item)">
                            <div class="cblock">
                                {{item.Tenmenu}}
                                <i class="fas fa-home fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-dialog [(visible)]="showDialog">
    <div style="text-align:center;" >
        <img width="300" height="70" src="assets/meiko.png">
    </div>
    <div class="form">
        <form class="login-form" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
            <input type="text" autocomplete="off" formControlName="uname" placeholder="tài khoản" />
            <input type="password" autocomplete="off" formControlName="passwd" placeholder="mật khẩu" />
            <button type="submit" class="btn btn-sm" [disabled]="!formdata.valid">Đăng Nhập</button>
        </form>
    </div>
</app-dialog>
<app-dialog [(visible)]="showChangePass">
        <div class="form">
            <form class="login-form" [formGroup]="formchangepass" (ngSubmit)="onClickSubmitChangePass(formchangepass.value)">
                <input type="password" autocomplete="off" formControlName="passwdOld" placeholder="Mật khẩu hiện tại" />
                <input type="password" autocomplete="off" formControlName="passwdNew" placeholder="Mật khẩu mới" />
                <input type="password" autocomplete="off" formControlName="passwdChange" placeholder="Nhập lại mật khẩu mới" />
                <div class="form-row">
                        <div class="form-group col-md-8">
                                <button type="submit" class="btn btn-sm" [disabled]="!formchangepass.valid">Cập Nhập</button>
                        </div>
                        <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-sm" (click)="showChangePass=false">Thoát</button>
                        </div>
                      </div>
                      <div style="color: red">
                          {{messageBox}}
                      </div>
            </form>
        </div>
    </app-dialog>