<div class="rightcontent">
  <h2>Thông Tin Chung</h2>
</div>
<!-- <app-timepicker [(ngModel)]="someDate" (ngModelChange)="change()"></app-timepicker> -->
<!-- <div class="discreateProgress" id="mainProgress">

  </div> -->
<!-- <div class="progress">
      <div class="bar" style="width:55%">
        <p class="percent">3/4</p>
      </div>
    </div> -->
<!-- <a (click)="CallMainCloseLogOut()">
  downloadfile
</a>
<a (click)="Deletefile()">
  Deletefile
</a>
<label class="btn btn-info btn-sm" style="float:right;margin: 0;width:40%;">
  Tệp
  <input type="file" (change)="onFileUpload($event)" style="display: none" />
</label>
<span style="font-weight:bold;color:green;" *ngIf="progress">
  {{progress}}%
</span>
<div *ngIf="d">
  <app-toaster-container></app-toaster-container>
</div> -->
