<div class="rightcontent">
</div>
<!-- <li><fa-icon icon="coffee" size="3x"></fa-icon></li>
<li><fa-icon icon="check"></fa-icon></li>
<li><fa-icon icon="spinner" spin="true" size="3x"></fa-icon></li>
<li><fa-icon icon="envelope" rotate="90"></fa-icon></li> -->
<!-- <app-chatbox></app-chatbox> -->
<!-- <app-timepicker [(ngModel)]="someDate" (ngModelChange)="change()"></app-timepicker> -->
<!-- <div class="discreateProgress" id="mainProgress">

  </div> -->
<!-- <div class="progress">
      <div class="bar" style="width:55%">
        <p class="percent">3/4</p>
      </div>
    </div> -->
<!-- <a (click)="CallMainCloseLogOut()">
  downloadfile
</a>
<a (click)="Deletefile()">
  Deletefile
</a>
<label class="btn btn-info btn-sm" style="float:right;margin: 0;width:40%;">
  Tệp
  <input type="file" (change)="onFileUpload($event)" style="display: none" />
</label>
<span style="font-weight:bold;color:green;" *ngIf="progress">
  {{progress}}%
</span>
<div *ngIf="d">
  <app-toaster-container></app-toaster-container>
</div> -->

<!-- Material floating button CSS -->
<!-- <div id="container-floating">

  <div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Simone"></div>
  <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com"><img class="reminder">
    <p class="letter">C</p>
  </div>
  <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder"><img class="reminder" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_reminders_speeddial_white_24dp.png" /></div>
  <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
    <p class="letter">E</p>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>

</div> -->



<!-- Show-popup -->
<!-- <div>
  <h2>Hello {{name}}</h2>
  
<app-show-popup #popup1 [title]="'Title of Popup1'">
<p>html content of  Popup1</p>
</app-show-popup>
<app-show-popup #popup2 [title]="'Title of Popup2'">
<p>html content of  Popup2</p>
</app-show-popup>
<button (click)="popup1.appear()">show popup 1</button>
<button (click)="popup2.appear()">show popup 2</button>

</div> -->
